.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.qrWrapper svg path:last-child{
    fill: #2c2929;
}

.input{
    background-color: #e9dede;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 32px;
}

.button{
    border: none;
    background: #3a3535;
    color: white;
    font-size: 20px;
    border-radius: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
}